/* .wr{
    width: 100%!important;
    height: 98vh!important;
} */

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}
body::-webkit-scrollbar { width: 0 !important }

.head{
    position: absolute;
    top: 0; 
    width: 100%;
    height:11vh;

    z-index: 1;

    background-color: rgb(245, 245, 245);


    box-shadow: 0px 25px 8px rgba(140, 140, 140, 0.01), 0px 18px 7px rgba(140, 140, 140, 0.05), 0px 10px 6px rgba(140, 140, 140, 0.18), 0px 4px 4px rgba(140, 140, 140, 0.3), 0px 1px 2px rgba(140, 140, 140, 0.34), 0px 0px 0px rgba(140, 140, 140, 0.35);


}

/* @media (max-width: 660px){
    .wr{
        width: 660px!important;
        height: 94vh!important;
    }

} */


#menu-l{
    position: fixed;
    background-color: rgb(247, 247, 247);

    top: 0;

    width: 19vw;
    height: 100vh;
    z-index: 2;
    left: 0px;

    box-shadow: 25px 0px 9px rgba(140, 140, 140, 0.01), 21px 0px 8px rgba(140, 140, 140, 0.05), 12px 0px 7px rgba(140, 140, 140, 0.18), 5px 0px 5px rgba(140, 140, 140, 0.3), 1px 0px 3px rgba(140, 140, 140, 0.34), 0px 0px 0px rgba(140, 140, 140, 0.35);

}
#menu-r{
    position: fixed;
    background-color: rgb(247, 247, 247);

    top: 0;

    transform: translate(-100%);

    width: 19vw;
    height: 100vh;
    z-index: 2;

    left: 100%;

    box-shadow: -25px 0px 7px rgba(140, 140, 140, 0.01), -16px 0px 6px rgba(140, 140, 140, 0.05), -9px 0px 5px rgba(140, 140, 140, 0.18), -4px 0px 4px rgba(140, 140, 140, 0.3), -1px 0px 2px rgba(140, 140, 140, 0.34), 0px 0px 0px rgba(140, 140, 140, 0.35);

}

.line1{
    position: absolute;
    background-color: #c0c0c0;
    width: 100%;

    top: 11%;
    height: 2px;
}
.line2{
    position: absolute;
    background-color: #c0c0c0;
    width: 100%;

    top: 15.5%;
    height: 2px;
}
.line3{
    position: absolute;
    background-color: #c0c0c0;
    width: 100%;

    top: 95.25%;
    height: 2px;
}
.line4{
    position: absolute;
    background-color: #c0c0c0;
    width: 100%;

    top: 99.75%;
    height: 2px;
}




.certification{
    position: absolute;

    font-size: 4.3vh;

    text-decoration: none;

    top: 31%;
    left: 26px;

    color: black;
}

.products{
    position: absolute;

    font-size: 4.3vh;

    text-decoration: none;

    top: 38%;
    left: 26px;

    color: black;
}

.logo1{
    position: absolute;

    width: 13vw;

    left: 50%;

    top: 5.6vh;

    transform: translate(-50%,-50%);

    z-index: 3;
}

.turbo{
    position: absolute;
    margin: 0;

    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    font-size: 6vh;

    color: #EC6608;

    z-index: 2;

    white-space: nowrap;
}

.logo3{
    position: absolute;

    top: 5.6vh;
    left: 30%;
    transform: translate(-50%, -50%);

    margin: 0;

    width: 5vw;
}
.Rus{
    position: absolute;

    top: 5.4vh;
    left: 70%;
    transform: translate(-50%, -50%);

    margin: 0;

    width: 6.1vw;
}

.btnn{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 23.5%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #C78B61;
    border: 4px solid #EC6608;
    border-radius: 17px;

    transition: 0.4s;

}
.history{
    position: absolute;

    font-size: 4.3vh;

    text-decoration: none;

    color: black;

    transform: translate(-50%,-50%);

    top: 41%;
    left: 50%;

    width: 15vw;

    display: flex;

    justify-content: center;



}

.btn1{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 31%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;
    transition: 0.4s;

}

.btn2{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 39%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;

    transition: 0.4s;
}

.btn3{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;

    transition: 0.4s;
}
.btn4{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;

    transition: 0.4s;
}

.btn5{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 63%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;
    transition: 0.4s;
}
.btn6{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 71%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;

    transition: 0.4s;
}

.btn7{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 79%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;

    transition: 0.4s;
}
.btn8{
    box-sizing: border-box;

    position: absolute;

    width: 15vw;
    height: 5.7vh;

    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);

    background: #D0D0D0;
    border: 4px solid #EC6608;
    border-radius: 17px;

    transition: 0.4s;
}

.history1{
    position: absolute;

    font-size: 3.4vh;

    text-decoration: none;

    color: black;

    transform: translate(-50%,-50%);

    top: 20%;
    left: 50%;

    width: 15vw;

    display: flex;

    justify-content: center;
}
.history2{
    position: absolute;

    font-size: 3.4vh;

    text-decoration: none;

    color: black;

    transform: translate(-50%,-50%);

    top: 70%;
    left: 50%;

    
    width: 15vw;

    display: flex;

    justify-content: center;
}

.btnn:hover{background: #EEA572;}
.btn1:hover{background: #EEA572;}
.btn2:hover{background: #EEA572;}
.btn3:hover{background: #EEA572;}
.btn4:hover{background: #EEA572;}
.btn5:hover{background: #EEA572;}
.btn6:hover{background: #EEA572;}
.btn7:hover{background: #EEA572;}
.btn8:hover{background: #EEA572;}

.rallied_collective{
    position: absolute;

    font-size: 3.5vh;

    top: -7%;
    color: #313131;

    border: 4px solid #EC6608;
    border-radius: 17px;
    background-image: url(img/half-section-1.png);

}
.text-1{
    position: absolute;



    top: 39%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 53vw;
    height: 40%;
}

.turbo_generation{
    font-weight: bold;
}

.alignment{
    position: absolute;



    left: 2%;

    width: 51vw;
    height: 100%;
}

.text-2{
    position: absolute;

    top: 82.3%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 53vw;
    height: 40%;
}

.electrical_units{
    position: absolute;

    font-size: 3.5vh;

    top: -7%;
    color: #313131;

    border: 4px solid #EC6608;
    border-radius: 17px;
    background-image: url(img/half-section-3.png);

}

.text-3{
    position: absolute;

    top: 195.5%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 53vw;
    height: 40%;
}
.powerhouse{
    position: absolute;

    font-size: 3.5vh;

    top: -7%;
    color: #313131;

    border: 4px solid #EC6608;
    border-radius: 17px;
    background-image: url(img/half-section-1.png);
}

.carousel{
    position: absolute!important;
}

.cc{
    top: 140%;

    left: 50%;

    transform: translate(-50%,-50%);

    width: 53.1vw;

}


.c-1{
    width: 53.1vw;

    height: 53vh;

    border-radius: 17px;
}
.c-2{
    width: 53.1vw;

    height: 53vh;

    border-radius: 17px;
}
.c-3{
    width: 53.1vw;

    height: 53vh;

    border-radius: 17px;
}

